loki:
  auth_enabled: false
  commonConfig:
    replication_factor: 1
  storage:
    type: 'filesystem'
  
# We disable Promtail here because we are using OTel Collector to ship logs!
promtail:
  enabled: false