apiVersion: argoproj.io/v1alpha1
kind: Application
metadata:
  name: lgtm-loki
  namespace: argocd
spec:
  project: default
  source:
    repoURL: https://grafana.github.io/helm-charts
    chart: loki
    targetRevision: 5.43.0
    helm:
      valueFiles:
      - $values/k8s/observability/loki.values.yaml
  destination:
    server: https://kubernetes.default.svc
    namespace: monitoring
  syncPolicy:
    automated:
      prune: true
      selfHeal: true
    syncOptions:
    - CreateNamespace=true